<div class="modal-header">
  <h3 class="modal-title">Add Room</h3>
</div>
<div class="modal-body">
  <form>
    <div class="input-group animated fadeIn">
      <input type="text" class="form-control finderBar" ng-model="room" placeholder="Enter room name..." autofocus>
      <span class="input-group-btn">
      <button class="btn btn-default btn-success" type="button" ng-click="ok()">Add Room</button>
  </span>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
